.boxProduct{
border-style:dashed;
border-width:5px;
border-color: rgb(180,100,100);
padding-top: 600px;

padding: 10px;
display: inline;position:relative;
width: 200%
}
section{
	margin : auto;
}
body{
	margin: auto;
}
img {
	width: 120px;
	height: 120px;
	margin-left : 25px;
}

li{
	display: inline-block;
	padding-right: 30px;
}
.productTitle{
	color : blue;
	font-weight: bold;
	font-size: 130%;

}
.productPrice{
	color : red;
	font-weight: bold;
	font-size: 120%;
	text-align : right;

}
.buttonCartCheck{
	align-items: right;
	border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#d34836;
	font:bold 13px Arial;
	color:#fff;
	position:relative;
	left:50%;
	float:right;
}
.button {
	display:block;
	margin: 0 auto;
    background-color: #e7e7e7;
    color: black;
    border: none;
	padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 12px;
    cursor: pointer;
}
a.button{
	display:inline;
    text-align: center;
    text-decoration: none;
}


