*
{
    font-family: arial;
}
section
{
    margin: auto;
}

html{
	background-color: white;
}

/*-----------header.php------------------------*/

header {
	text-align: center;
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	height: 30px;
	padding-bottom: 5px;
}

#headertitle{
	font-size: 20px;
	color: #20B2AA;	/*lightseagreen*/
	text-decoration: none;
	overflow: hidden;			/*to adapt to the webpage*/
}

nav li{
	display: inline;
	padding-right: 30px;
}

nav{
	text-align: left;
	background-color: #BC8F8F;	/*RosyBrown*/
}
nav a, nav span{
	color: tomato;
	text-decoration: none;
	transition: color linear 0.2s;
	justify-content: left;
}

nav a:hover, nav span:hover{	/*when mouse on link*/
	background-color: sandybrown;	/*ou #ccc ?*/
	/*color: black;*/
}

/*.header a{
	float: left;
	text-align: center;
	font-size: 18px;
	color: #DB7093;	/*PaleVioletRed*/
/*	padding: 10px;
}

.header a.company{
	font-size: 25px;
	font-weight: bold;
}
*/
.category{
	display: inline-block;
    position:relative;
    padding: 5px 10px -5px;
}

.category input[type=text]{
	margin-top: 10px;
	padding: 6px;
	border: none;
	font-size: 18px;
}

.withSeveralLinks {
    display: none; 
    position:absolute;   
    left:-0px;
    top:100%;
    background-color: cornflowerblue;
    padding:5px 10px;
}

.category:hover .withSeveralLinks{
	display: block;
}

.category .login{
	float: right;
}

.category .login button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}

/*--------------main----------------------*/

body{
	margin: 0px;
    --aside-width: 200px;
    --horizontal-margin:10px;
    --picture-width:200px;
}

#mainImg{
    display: block;
    max-width:100%;
    max-height: calc(100vh - 150px);
    margin: 100px auto;
}

/*--------------footer----------------------*/

footer
{

    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width:100%;
    margin-left: 0px;
    /* display: inline-block;*/
    vertical-align: bottom;
    background-color: #BC8F8F;
    height: 50px;

}

.footerTampon{
    height: 50px;
}

footer a
{
    color: brown;
    text-decoration:none;
    vertical-align: center;
}
footer div
{
    width: 100%;
    height: 100%;
    display: inline-block;
    line-height: 50%;
}